# Database Configuration
DB_HOST=srv1078.hstgr.io
DB_PORT=3306
DB_USER=u549746795_matheusmp
DB_PASSWORD=MP@2026!Passos
DB_NAME=u549746795_mp

# Root password for local development
DB_ROOT_PASSWORD=rootpassword

# JWT Secret
JWT_SECRET=your-secret-key-change-in-production

# Asaas
# ba51def0-892f-4972-9e69-d378c36ddd28
# $aact_hmlg_000MzkwODA2MWY2OGM3MWRlMDU2NWM3MzJlNzZmNGZhZGY6OjFiMmE0YjY2LTU5ZDctNDllNS05YWE0LTgyNGM0MWYyZjRjMjo6JGFhY2hfOTgzYWFmMTEtODBiZC00YThkLWExNGUtYmQ4YWRhMjcwNDZh
ASSAS_API_KEY=ba51def0-892f-4972-9e69-d378c36ddd28
ASSAS_BASE_URL=https://sandbox.asaas.com/api/v3
